@model IEnumerable<StationeryStore.Models.Products_tb>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .container {
        display: flex;
        color: #FFFAEC;
    }
   

    .sidebar {
        width: 30%;
        min-height:max-content;
        max-height:min-content;
        background-color: #578E7E;
        padding: 20px 20px 20px 40px;
        margin:20px 10px 20px 10px;
        font-size:34px;
        border-radius:20px;
    }

    .content {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }

    .product {
      
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        width: calc(50% - 50px); /* 3 คอลัมน์ */
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
     
        
    }
    .card{
        padding:20px;
        background-color: #3D3D3D;
        border-radius: 10px;
    }
    .card:hover{
       background-color:#578E7E;
    }
   
    .card-img-top {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .text-stock {
        font-size: 1.2em;
        font-weight: bold;
        color: #f00;
    }

   
   .card-body
    {
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px; 
       
    }
    .card-body:hover{
            background-color: #578E7E;
    }

    .card-title{
        word-wrap: break-word; /* ตัดข้อความเมื่อข้อความยาวเกินกรอบ */
        white-space: normal; /* ทำให้ข้อความแสดงผลหลายบรรทัด */
        overflow-wrap: break-word; /* สำรองการตัดข้อความสำหรับเบราว์เซอร์ที่รองรับ */
        text-overflow: ellipsis;
    }

    .card-title,
    .card-text,
    .text-stock {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }

    .card-title {
        font-size: 1.5em;
        font-weight: bold;
        color: #FFFAEC;
        
    }

    .card-text {
        font-size: 1.4em;
        color: #FFFAEC;
    }

    .text-stock {
        font-size: 1.4em;
        font-weight: bold;
        color: #FFFAEC;
    }

    .background-container
    {
        background-color: rgba(255, 250, 236,0.9);
        padding:20px;
        border-radius:20px;
    }

    ul.category-list {
        list-style: inside; 
        padding-left: 10px; 
        text-align:right;
   
    }

        ul.category-list li a {
            text-decoration-line:none; 
           
        }

            ul.category-list li a:hover {
                text-decoration-line: underline;
                text-decoration-color: #3D3D3D;
                text-decoration-thickness: 3px; 
            }

   

    
</style>


<div class="background-container">
    <div class="container">
        <div class="sidebar ">
            <h3 style="font-size:40px;text-align:right;">หมวดหมู่สินค้า</h3>
            <ul class="category-list">
                <a href="/Product/AllProduct" style="text-decoration:none;color:#000;" class="all-productetxt;"> รวมสินค้า </a>
                @foreach(var category in (IEnumerable<StationeryStore.Models.Categories_tb>)ViewBag.Categories)
                {
                    <li>
                       
                        <a href="/Product/AllProduct?categoryName=@category.categoryName"
                           style="color: @(ViewBag.SelectedCategory ==  category.categoryName ? "#FFFAEC" : "#000")">
                            @category.categoryName
                        </a>
                    </li>
                }

            </ul>
        </div>
        <div class="content">
          
          
            @if (!Model.Any())
            {
                <p>ไม่มีสินค้าในหมวดหมู่นี้</p>
            }
             else
            {
                @foreach (var product in Model)
                {
                   
                    <div class="product">
                        <div class="card h-100">
                            <img src="@product.img" class="card-img-top" alt="@product.productName" style="object-fit: cover; height: 150px; width: 100%;border-radius:10px;" />
                            <div class="card-body">
                                <h4 class="card-title" style="word-wrap:inherit">@product.productName</h4>
                                <p class="card-text">ราคา: @product.price บาท</p>
                                <p class="card-text">ประเภท: @product.category.categoryName</p>
                                <p class="text-stock">เหลือ: @product.stock </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>